body {
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

h2 {
  font-size: 40px;
  font-family: Exo Web, sans-serif;
}

.home-page-container {
  text-align: center;
}
