.tag-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 100px;

  .fa-quote-left {
    grid-column-start: 1;
    color: #00cc00;
    text-align: right;
  }
  h1 {
    font-family: 'Exo', sans-serif;
    font-size: 32px;
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    color: white;
  }

  .tags {
    grid-column-start: 2;
    border-bottom: 1px dotted #fff;

    p {
      font-size: 40px;
      font-family: 'Exo', sans-serif;
      color: white;
      font-size: 40px;
      width: 640px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      line-height: 60px;
      margin-bottom: 50px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 50px;
      font-family: 'Exo', sans-serif;
      color: white;
    }

    a {
      font-size: 20px;
      font-style: italic;
    }
  }

  .fa-quote-right {
    grid-column-start: 3;
    color: #00cc00;
    grid-row-start: 1;
    text-align: left;
  }
}
